# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target/classes/ArrayQ$MoveZeroes.class
target/classes/ArrayQ$binary_search.class
*.class
